* {
    font-family: "JetBrainsMono Nerd Font", sans-serif;
    font-size: 12px;
    color: #e0def4;
}

window#waybar {
    background: rgba(20, 20, 20, 0.85);
    border-bottom: 1px solid #444;
    border-radius: 10px;
}

#workspaces button {
    background: transparent;
    color: #b7bdf8;
    border: none;
    padding: 5px;
}

#workspaces button.active {
    color: #a6e3a1;
    font-weight: bold;
}

#clock, #battery, #backlight, #network, #pulseaudio, #custom-player, #custom-power {
    padding: 0 10px;
    margin: 0 5px;
    background: transparent;
    border-radius: 5px;
}

#custom-player {
    color: #cba6f7;
    font-weight: bold;
}

#custom-power {
    color: #f38ba8;
}

#battery {
    color: #a6e3a1;
}

#backlight {
    color: #fab387;
}

#pulseaudio {
    color: #89b4fa;
}

#network {
    color: #74c7ec;
}

tooltip {
    background: #1e1e2e;
    border: 1px solid #444;
    border-radius: 10px;
    color: #cdd6f4;
}
