* {
  border: none;
  border-radius: 6px;
  font-family: "JetBrainsMono Nerd Font", monospace;
  font-size: 12px;
  min-height: 0;
  padding: 2px 6px;
  color: #cfcfcf;
}

window#waybar {
  background-color: rgba(10, 10, 10, 0.9);
  border-bottom: 2px solid #7f5faf;
}

#workspaces button {
  padding: 0 5px;
  color: #777;
  background: transparent;
  border-radius: 0;
}

#workspaces button.active {
  color: #d9d9d9;
  background: #1a1a1a;
  border-bottom: 2px solid #7f5faf;
}

#clock,
#battery,
#pulseaudio,
#network,
#custom-playerctl,
#tray {
  background-color: #1a1a1a;
  color: #dfdfdf;
  margin: 0 4px;
  border-radius: 4px;
}

#clock {
  color: #a97fff;
  background-color: transparent;
  font-weight: bold;
}

#custom-playerctl {
  color: #c678dd;
  font-style: italic;
}

#battery.critical {
  color: #ff5555;
}

#pulseaudio.muted {
  color: #555;
}

